<style>
  ul {
    background-color: #FCF3CF;
    font-family: "Comic Sans MS", cursive, sans-serif;

  }
</style>
<ul>
  <div class="w3-content" style="max-width:500px">
    <h1 class="w3-center">About me</h1>

    <img src="../../assets/me.jpg" height="500px">    

    <h6>
      <b>Name:</b> Poompisek Natiphuwarak</h6>
    <h6>
      <b>Age:</b> 21</h6>
    <h6>
      <b>Email:</b> poompisek.poom@g.swu.ac.th</h6>
      <h6>
        <b>My Hobby is:</b> Eating & Sleeping eiei
      </h6>
      <h2 class="w3-center"> My Drawing </h2>
      <img src="../../assets/draw.jpg" height="500px">    
      
  </div>
</ul>